@import "../../sass/mixins";
.Nav {
  width: 100%;
  > ul {
    list-style: none;
    li {
      text-indent: 0;
      margin-left: 25px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 8%;
  height: 4%;
  right: 4%;
  top: 8px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  font-size: 1em;
}

/* Wrapper for item list */
.bm-item-list {
  margin-top: 40px;
  color: #767676;
}

/* Individual item */
.bm-item {
  display: flex;
  flex-direction: column;
}

/* Styling of overlay */
.bm-overlay {
  top: 45px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 2;
}

//TABLET

$viewport-phone: 300px;
$viewport-tablet: 564px;
$viewport-desktop: 960px;

@media screen and (min-width: $viewport-tablet) and (max-width: $viewport-desktop) {
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 6%;
    height: 3%;
    right: 2%;
    top: 7px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    font-size: 1.5em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    margin-top: 40px;
    color: #767676;
  }

  /* Individual item */
  .bm-item {
    display: flex;
    flex-direction: column;
  }

  /* Styling of overlay */
  .bm-overlay {
    top: 45px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 2;
  }
}

@media screen and (min-width: $viewport-desktop) {
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 2.5%;
    height: 4%;
    right: 2%;
    top: 5px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    font-size: 1.6em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    margin-top: 40px;
    color: #767676;
  }

  /* Individual item */
  .bm-item {
    display: flex;
    flex-direction: column;
  }

  /* Styling of overlay */
  .bm-overlay {
    top: 45px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 2;
  }
}
